
/*

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

img {

    width: 100%;
}

html {

    font-size: 62.5%;
}

body {

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

/*main {

     margin: auto;

   max-width: 1200px; }*/


/* Estilos h2 

.h2,
h2,
h2,
h2 {

    color: cornflowerblue;

    text-align: center;

    font-size: 2em;

    display: block 2px;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    ;
    margin-top: 20px;

} */


/* Estilos h1 

.h1,
h1 {
    color: darkslategrey;

    font-size: 1.5em;


    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
} */

/* ESTILOS h4 

h4 {

    color: purple;
} */


/*Estilos h5 

.h5,
h5 {

    color: purple;
    font-size: 1.25em;
} */

/* Estilos parrafos 

p {
    font-size: 1em;

    font-family: Arial, Helvetica, sans-serif;

    color: darkslategrey;

    margin-top: 50 px;


} */

/* Estilos UL 

ul {
    color: rgb(53, 51, 51);

    font-family: Arial, Helvetica, sans-serif;
} */

/* ESTILOS Y ANIMACIONES HEADER 

.divHeader {

    height: 80px;

    width: 100%;

    display: flex;

    flex-direction: row;

    justify-content: flex-end;



}

.navHeader {

    display: flex;

    justify-content: space-between;

    max-width: 992px;



}

.navBoton {

    color: purple;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;

    display: none;
}

.MENU {

    display: flex;

    margin-left: 170px;

    padding: 2rem;

    list-style: none;


}


.menu__item {

    font-size: 1.5em;
    margin: 0 10px;
}


.menu__item>.menu__link {

    text-decoration: none;
    color: grey;
    transition: all .3s linear;

}


.menu__item>.menu__link:hover {

    border-bottom: 1px solid violet;

} */


/* ESTILOS BANNER 

.Banner {

    position: relative;
}

.Banner__img {

    width: 100%;


    margin-top: 40px;


}

.Banner__Inicio {

    position: absolute;
    top: 25px;
    left: 30%;
    margin-top: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: xx-large;

} */


/* ESTILOS INICIO - TITULO ARTICULO Y PROPOSITO  

.proposito {

    text-align: center;

    font-size: 2em;

    height: 20px;

    padding: 30px;


}

.parrafo2 {

    display: flex;

    flex-direction: row;

    font-size: 1.5em;

    padding: 25px;

    align-items: baseline;

    justify-content: space-between;

    gap: 3rem;
}

#parrafoProp {

    font-size: 1.5em;

    text-align: justify;

    padding: 5%;

} */

/* ESTILOS Y ANIMACIONES ROW 

.row {

    gap: 25px;
    margin-top: 25px;

}



.row>.box {

    height: 25%;

    border: solid 2px grey;

    width: 20%;


}

.row>.box img {

    gap: 2em;

    margin-top: 2%;

    width: 100%;


}

.box {

    transition: all 0.3s linear;
}

.box:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;


} */

/* ESTILOS BLOG */

 /*.card2 {

    width: 50%;

    margin: 25%;

    margin-top: 5%;

}


.card2 {

    transition: all 0.3s linear;
}

.card2:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;


} */


/* ENLACE RECETAS DULCES Y SALADAS */

/* ESTILOS Y ANIMACIONES CARD */

 /* .card {

    display: flex;

    flex-direction: row;

    gap: 4rem;

    justify-content: center;

    border: none;

    margin: 0.1em;

    padding-left: 1em;

    margin-top: 10%;

    height: 100%;

    font-size: 1.5em
}



.divBox {

    display: flex;

    flex-direction: column;

    gap: 1rem;

    font-size: 1em;

    width: 25%;


}

.boxReceta__img {

    gap: 8rem;

}

.boxReceta__info {

    display: flex;

    gap: 10px;

    flex-direction: column;

    padding: 25px;




}

.boxReceta__subtitle {

    font-family: Arial, Helvetica, sans-serif;

    color: purple;



}

.boxReceta__link {

    color: purple;

    text-decoration: none;

    font-size: 1em;
}

.boxReceta__item {

    text-decoration: none;
    font-size: 1em;
    color: darkslategrey;
}

/*a {
    color: var(--bs-link-color);
    text-decoration: underline; } */

 /* .imgBox {

    transition: all 0.3s linear;


}

.imgBox:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;
} */


/* ESTILOS CONTACTO CSS */

 /* #Formulario {

    width: 30%;

    border: solid 2px cornflowerblue;

    margin-bottom: 10%;

    padding: 5%;

} */

/* Estilos footer */


/*.footer__info {

    margin: 10%
}

.footer {

    background-image: url(../IMG/hojitas.png);

    color: darkslategrey;

    font-size: 1em;

    margin-top: 10%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

}



.footer__menu {

    list-style: none;



}

.footer__nav {

    margin-top: 45%;

}

.footer__item>.footer__link {

    text-decoration: none;

    color: darkslategrey;

    font-size: 1.5em;
}

/* FIN ESTILOS FOOTER */

/* @media screen and (max-width: 480px) {

    /*INDEX*/

    /*HEADER GENERAL */

  /*  .divHeader {

        height: 50px;

        

    }

    .navHeader {

        display: flex;
    
        justify-content: center;

        padding: 0 20px;
    
        
    
    
    
    }

    .menu__item {

        font-size: 1em;
        margin: 0 7px;
        gap: 2%;
    }

    .MENU {

        display: flex;

        align-items: center;


    }


    .bannerInicio {


        left: 5%;

        margin-top: 7%;

        font-size: large;
    }

    /* .Banner img {

        width: 100%;
    } */

    /*  .parrafo2 {

        flex-direction: column;
    } */

    

    /* RECETAS */

   /* .divBox {

        flex-direction: column;

        justify-content: center;

        width: 100%;

    } */

    /* .boxReceta__info {

        flex-direction: column;
        justify-content: center;
    } */

    /* FOOTER */

  /*  .footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30%;



    } */

  /*  @media screen and (max-width: 768px) {

          .divHeader {

        height: 60px;

    } }

    .MENU {

        display: flex;

        flex-direction: column;

        align-items: center;
    
        margin-right: 20px;
    
        position:fixed;
        
        left: 0;

        top: 60px;

        padding: 60px 0;

        width: 100%;
    
        list-style: none;
    
        
    }

    .menu__item {

       line-height: 70px;
     
    } } */

  /*  .cardRecetas {

        display: flex;
    
        flex-direction: row;
    
        gap: 4rem;
    
        justify-content: space-between;
    
        border: none;
    
        padding-left: 1em;
    
        margin-top: 1%;
    
        height: 20%;
    
        font-size: 1.5em ; 
    
        .boxRecetas {
    
            display: flex;
        
            flex-direction: row;
    
            justify-content: space-between;
        
            gap: 1rem;
        
            font-size: 1em;
        
            width: 25%; 
    
            &__info {
    
            display: flex;
    
            gap: 10px;
    
        
            padding: 50%; }
    
            &__img {
    
            gap: 8rem; }
        
        &__subtitle {
    
            font-family: Arial, Helvetica, sans-serif;
    
        color: map-get($colors, secondary );
    
    
        }
    
       
    
    
        } } 
    
        .imgRecetas {
    
            transition: all 0.3s linear;
        
        
        }
        
        .imgRecetas:hover {
        
            transform: scale(1.1, 1.1);
            box-shadow: 0px 0px 10px cadetblue;
        }
    
        .boxRecetas__item {
    
            transition: all 0.3s linear;
        }
    
        .boxRecetas__item:hover {
    
            color: map-get($colors, secondary );
        }
    
        
    
    
    /* RECETAS 
    
    @media screen and (max-width: 480px) {
    
     
    
     .divBox {
    
        flex-direction: column;
    
        justify-content: center;
    
        
    
    } } */

   
    
    
  

    