/* Externos */
/* Misc */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@1,300;1,400&display=swap");
/* colores */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
.color {
  color: cornflowerblue; }

.color {
  color: purple; }

.color {
  color: darkslategrey; }

.color {
  color: #353333; }

.color {
  color: white; }

/* Font family */
/* Font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

/*main {

     margin: auto;

   max-width: 1200px; }*/
/* Estilos h2 */
.h2,
h2,
h2,
h2 {
  color: cornflowerblue;
  text-align: center;
  font-size: 2em;
  display: block 2px;
  font-family: Poppins;
  margin-top: 20px; }

/* Estilos h1 */
.h1,
h1 {
  color: cornflowerblue;
  font-size: 1.5em;
  font-family: Poppins; }

/* ESTILOS h4 */
h4 {
  color: purple; }

/*Estilos h5*/
.h5,
h5 {
  color: purple;
  font-size: 1.25em; }

/* Estilos parrafos */
p {
  font-size: 1em;
  font-family: Poppins;
  color: darkslategrey; }

/* Estilos UL */
ul {
  color: #353333;
  font-family: Poppins;
  list-style: none; }

a {
  text-decoration: none; }

/* Partials */
/* Menu nav */
.divHeader {
  height: 100px;
  width: 100%; }
  .divHeader .navHeader {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .divHeader .navHeader .logo {
      display: block;
      height: 250px;
      width: 250px; }
    .divHeader .navHeader .logo > img {
      width: 100%;
      object-fit: cover; }
    .divHeader .navHeader .navBoton {
      color: #353333;
      background: none;
      border: none;
      font-size: 3.2em;
      padding: 0 2px;
      line-height: 0.1px;
      display: none; }
    .divHeader .navHeader > input {
      display: none; }
    .divHeader .navHeader .MENU {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none; }
      .divHeader .navHeader .MENU .menu__item {
        font-size: 1.5em;
        margin: 0 10px; }
      .divHeader .navHeader .MENU .menu__link {
        text-decoration: none;
        color: #353333;
        transition: all .3s linear; }
      .divHeader .navHeader .MENU .menu__link:hover {
        border-bottom: 1px solid violet; }

/* Banners */
.Banner {
  margin-top: 50px;
  width: 100%;
  height: 48rem;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(../IMG/BanerCielo.png); }

/*  position: relative; 
    
    & .Banner__img {

        width: 100%; 
        margin-top: 20px;
    
     & .Banner__Inicio {

        position: absolute;
        top: 25px;
        left: 30%;
        font-family: $font-Title;
        color: map-get($colors, base);
        font-size: $text-Large; 
    } } } */
/* Media Query */
@media screen and (max-width: 480px) {
  .divHeader.navHeader.navBoton {
    display: block;
    font-size: 3.2em;
    width: 30px;
    height: 30px;
    align-self: center;
    z-index: 10;
    margin-right: 20px; }
  .divHeader.navHeader #hamburguesa {
    position: absolute;
    right: 25px;
    top: 45px;
    z-index: 0; }
  .divHeader.navHeader #hamburguesa:checked ~ ul {
    height: 200px;
    transition: heigth 1s; }
  .divHeader.navHeader .MENU {
    position: absolute;
    flex-flow: column;
    height: 0%;
    right: 10px;
    top: 110px;
    overflow: hidden;
    z-index: 5;
    transition: heigth 1s; }
    .divHeader.navHeader .MENU .menu__item {
      font-size: 2em;
      display: block; } }

.Banner .Banner__img {
  margin-top: 40px; }

.Banner .Banner__Inicio {
  font-size: 1.5em; }

@media screen and (max-width: 768px) {
  .divHeader {
    font-size: .8em; }
    .divHeader .navHeader {
      margin: 5px; }
    .divHeader .logo {
      height: 150px;
      width: 150px; }
  .Banner {
    margin-top: 100px; }
    .Banner .Banner__img {
      margin-top: 40px; }
    .Banner .Banner__Inicio {
      margin-top: 30px;
      font-size: 1.5em; } }

/* Footer */
.footer {
  background-image: url(../IMG/hojitas.png);
  color: darkslategrey;
  margin-top: 8em;
  height: 100%;
  width: 100%;
  gap: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5em;
  font-family: Poppins; }
  .footer .footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 16%;
    margin-top: 5px; }
    .footer .footer__nav .menuFooter {
      list-style: none;
      font-size: 1.5em;
      margin-right: 25px; }
    .footer .footer__nav .footer__item {
      text-decoration: none;
      color: #353333;
      font-size: 1em;
      margin-top: 8px; }
    .footer .footer__nav .footer__link {
      text-decoration: none;
      color: #353333;
      font-size: 1em; }
    .footer .footer__nav .footer__link:hover {
      color: purple; }
  .footer .info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30%; }
    .footer .info .footer__info {
      margin-right: 60px; }
    .footer .info .redes {
      margin-right: 50px; }
  .footer .iconos {
    gap: 2em;
    height: 25px;
    width: 25px; }
  .footer .finFooter {
    align-items: center; }

/* Media query */
@media screen and (max-width: 480px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    margin-top: 30px; }
    .footer .footer__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 50px; }
    .footer .menuFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 80px;
      margin-top: 15px; }
  .info {
    flex-direction: row;
    justify-content: center;
    margin-top: 85px;
    margin-right: 65px; }
    .info .redes {
      margin-right: 50px; }
  .iconos {
    height: 20px;
    width: 20px; } }

/* Views */
/* Main */
.container .textosInicio .proposito {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

.container .textosInicio #parrafoProp {
  font-size: 1.5em;
  color: cornflowerblue;
  text-align: justify;
  padding: 5%; }

.container .textosInicio .parrafo2 {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 25px;
  align-items: baseline;
  justify-content: space-between;
  gap: 3rem; }

/* Enlace directo-budines */
.enlaceRecetas {
  height: 100%;
  width: 100%; }

.nuestrosBudines {
  margin-top: 10%; }

.card-group {
  margin-top: 25px; }
  .card-group .cardBudines {
    border: transparent 2px grey;
    transition: all 0.3s linear; }
    .card-group .cardBudines__img {
      gap: 2em;
      margin-top: 2%;
      width: 50%; }
    .card-group .cardBudines:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0px 0px 10px cadetblue; }

/* Media Query */
@media screen and (max-width: 480px) {
  .parrafo2 {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .row .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px; }

/* ESTILOS BLOG */
/* TITULO Y PARRAFO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

#parrafoProp {
  font-size: 1.5em;
  font-family: Poppins;
  text-align: justify;
  padding: 5%; }

/* CARDS BLOG */
.cardBlog .col-md-4 .card2 {
  width: 50%;
  margin: 25%;
  margin-top: 5%;
  transition: all 0.3s linear; }

.cardBlog .col-md-4 .card-body .card-text {
  font-family: Poppins;
  font-size: 1em;
  color: #353333; }

.card2:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 10px cadetblue; }

/* TITULO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

/* Card recetas dulces */
.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  margin: 0.1em;
  padding-left: 1em;
  margin-top: 10%;
  height: 100%;
  font-size: 1.5em; }
  .card .divBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-basis: 30%;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1em;
    width: 25%; }
  .card .boxReceta__info {
    display: flex;
    gap: 10px;
    flex-direction: row;
    padding: 25px; }
  .card .boxReceta__img {
    gap: 8rem; }
  .card .boxReceta__subtitle, .card .boxReceta__subtitle--budines {
    font-family: Poppins;
    color: purple; }
    .card .boxReceta__subtitle--budines {
      border: solid 1px purple; }
  .card .boxReceta__link {
    color: purple;
    text-decoration: none;
    font-size: 1em; }
  .card .boxReceta__item {
    text-decoration: none;
    font-size: 1em;
    color: darkslategrey; }

.imgBox {
  transition: all 0.3s linear; }

.imgBox:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 10px cadetblue; }

.boxReceta__item {
  transition: all 0.3s linear; }

.boxReceta__item:hover {
  color: purple; }

/* RECETAS */
@media screen and (max-width: 480px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 1em; }
    .card .divBox {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
    .card .boxReceta__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 15px; }
    .card .boxReceta__img {
      gap: 8rem;
      width: 300px; } }

/* TITULO */
.container .recetasSaladas {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

#parrafoReceta {
  font-size: 1.5em;
  font-family: Poppins;
  text-align: center;
  padding: 5%; }

/* Card recetas saladas */
.card {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  justify-content: space-around;
  border: none;
  margin: 0.1em;
  padding-left: 1em;
  margin-top: 1%;
  height: 100%;
  font-size: 1.5em; }
  .card .divBox {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1em;
    width: 25%; }
  .card .boxReceta__info {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 25px; }
  .card .boxReceta__img {
    gap: 8rem; }
  .card .boxReceta__subtitle, .card .boxReceta__subtitle--budines {
    font-family: Arial, Helvetica, sans-serif;
    color: purple; }
  .card .boxReceta__link {
    color: purple;
    text-decoration: none;
    font-size: 1em; }
  .card .boxReceta__item {
    text-decoration: none;
    font-size: 1em;
    color: darkslategrey; }

.imgBox {
  transition: all 0.3s linear; }

.imgBox:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 10px cadetblue; }

.boxReceta__item {
  transition: all 0.3s linear; }

.boxReceta__item:hover {
  color: purple; }

/* RECETAS */
@media screen and (max-width: 480px) {
  .divBox {
    flex-direction: column;
    justify-content: center;
    width: 100%; } }

/* CONTACTO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

/* FORMULARIO */
