/* Externos */
/* Misc */
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@1,300;1,400&display=swap");
/* colores */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
.color {
  color: cornflowerblue; }

.color {
  color: #5F7052; }

.color {
  color: darkslategrey; }

.color {
  color: #353333; }

.color {
  color: white; }

/* Font family */
/* Font sizes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

.mainInicio {
  margin: 50%;
  max-width: 1200px; }

/* Estilos h2 */
.h2,
h2,
h2,
h2 {
  color: cornflowerblue;
  text-align: center;
  font-size: 2em;
  display: block 2px;
  font-family: Poppins;
  margin-top: 10px; }

/* Estilos h1 */
.h1,
h1 {
  color: cornflowerblue;
  font-size: 1.5em;
  font-family: Poppins; }

/* ESTILOS h4 */
h4 {
  color: purple; }

/*Estilos h5*/
.h5,
h5 {
  color: #353333;
  font-size: 2.2em;
  font-family: Poppins; }

/* Estilos parrafos */
p {
  font-size: 1.2em;
  font-family: Poppins;
  color: darkslategrey; }

/* Estilos UL */
ul {
  color: #353333;
  font-family: Poppins;
  list-style: none; }

a {
  text-decoration: none; }

/* Partials */
/* Menu nav */
header {
  height: 30%;
  width: 100%; }

.divHeader {
  height: 100px;
  width: 100%; }
  .divHeader .navHeader {
    display: flex;
    width: 100%;
    justify-content: space-between; }
    .divHeader .navHeader .logo {
      display: block;
      height: 20%;
      width: 20%; }
    .divHeader .navHeader .logo img {
      width: 200%;
      object-fit: cover; }
    .divHeader .navHeader .navBoton {
      color: #37689B;
      background: none;
      font-size: 3.2em;
      padding: 0 2px;
      line-height: 0.1px;
      display: none; }
    .divHeader .navHeader input {
      display: none; }
    .divHeader .navHeader .MENU {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      list-style: none; }
      .divHeader .navHeader .MENU .menu__item {
        font-size: 2em;
        margin: 0 10px; }
      .divHeader .navHeader .MENU .menu__link {
        text-decoration: none;
        color: #353333;
        transition: all .3s linear; }
      .divHeader .navHeader .MENU .menu__link:hover {
        border-bottom: 2px solid cornflowerblue; }

/* Banners */
.baner {
  margin-top: 8%; }

/* Media Query */
@media screen and (max-width: 480px) {
  header {
    height: 300px; }
  .divHeader .navHeader .navBoton {
    display: block;
    font-size: 3.2em;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    align-self: center;
    z-index: 10;
    margin-right: 20px; }
  .divHeader .navHeader #hamburguesa {
    position: absolute;
    right: 25px;
    top: 45px;
    z-index: 0; }
  .divHeader .navHeader #hamburguesa:checked ~ ul {
    height: 200px;
    transition: heigth 1s; }
  .divHeader .navHeader .MENU {
    position: absolute;
    flex-flow: column;
    height: 0%;
    right: 10px;
    top: 110px;
    background-color: white;
    overflow: hidden;
    z-index: 5;
    transition: heigth 1s; }
    .divHeader .navHeader .MENU .menu__item {
      color: grey;
      border-bottom: solid 2px gray;
      font-size: 1.2em;
      display: block; } }

/* Footer */
footer {
  background-color: #353333;
  margin-top: 10%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-family: Poppins; }
  footer .divFooter {
    color: #353333;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin-right: 5%; }
    footer .divFooter .iconos {
      gap: 1rem;
      height: 25px;
      width: 25px; }
  footer .finFooter {
    color: #353333;
    font-size: 0.7em;
    margin-top: 8%;
    align-items: center; }

/* Media query */
@media screen and (max-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em; }
    footer .divFooter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: 0; }
    footer .iconos {
      height: 20px;
      width: 20px; } }

/* Views */
/* Main */
.container
.textosInicio .proposito {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  padding: 0; }

.container
.textosInicio #parrafoInicio {
  font-size: 2em;
  color: cornflowerblue;
  text-align: center;
  padding: 5%; }

.container
.textosInicio .parrafo2 {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  justify-content: space-evenly;
  align-items: center;
  text-align: justify;
  gap: 2rem; }

/* Enlace directo-budines */
.enlaceRecetas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 70%;
  margin-top: 5%;
  background-image: url(../IMG/fondo-acuarela-pintada-mano_24972-1198.webp); }

.nuestrosBudines {
  color: #5F7052;
  text-align: center;
  font-size: 3.2em;
  padding: 5%; }

.card1 {
  margin-top: 2%;
  margin: 8%;
  border-radius: 21px;
  flex-direction: row;
  transition: all 0.3s linear; }
  .card1 .card1-img-top {
    width: 100%;
    border-radius: 21px; }
  .card1 .card1-title {
    color: #5F7052;
    margin-top: 4%;
    font-size: 2em;
    font-family: Hallelujah; }
  .card1 img:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue; }

/* Media Query */
@media screen and (max-width: 480px) {
  .proposito {
    color: cornflowerblue;
    text-align: center; }
  .parrafo2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .nuestrosBudines {
    color: #5F7052;
    text-align: center;
    font-size: 3.2em; }
  .card1 {
    flex-direction: center; } }

/* ESTILOS BLOG */
/* TITULO Y PARRAFO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

.budines2 {
  color: #5F7052;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

#parrafoProp {
  font-size: 1.2em;
  font-family: Poppins;
  text-align: justify;
  padding: 5%; }

/* CARDS BLOG */
.cardBlog .col-md-4 .card2 {
  transition: all 0.3s linear; }

.cardBlog .col-md-4 .card-title {
  color: #5F7052; }

.cardBlog .col-md-4 .card-text {
  font-family: Poppins;
  font-size: 1em;
  color: #353333; }

.card2:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 10px cadetblue; }

/* TITULO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em; }

.ingredientes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-top: 5%; }

#parrafoProp {
  font-size: 1.2em;
  font-family: Poppins;
  text-align: justify; }

/*Carrousel*/
.carousel-inner {
  width: 100%;
  height: 100%; }

/* Card recetas dulces */
.cardBudines {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 6rem;
  margin-top: 10%;
  font-size: 1.5em; }
  .cardBudines .divBudines {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem; }
  .cardBudines .boxBudines {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    border-radius: 21px;
    border: 1px solid #353333;
    box-shadow: 0 0 25px cornflowerblue;
    transition: all 0.3s linear; }
    .cardBudines .boxBudines .boxBudines__subtitle {
      margin: 8%; }

.boxBudines:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 5px cadetblue; }

/* MEDIA QUERY */
@media screen and (max-width: 480px) {
  #parrafoProp {
    font-size: 2em;
    margin: 5px;
    text-align: center; }
  .ingredientes {
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

.cardBudines {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  font-size: 1em; }

/* TITULO Y TEXTO */
.container
.recetasSaladas {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em; }

#parrafoReceta {
  font-size: 1.2em;
  font-family: Poppins;
  text-align: center; }

/* Card recetas */
.cardRecetas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2rem;
  margin-top: 5%; }
  .cardRecetas .boxRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
    border-radius: 21px;
    border: 1px solid #353333;
    box-shadow: 0 0 30px cornflowerblue;
    transition: all 0.3s linear; }
    .cardRecetas .boxRecetas .boxRecetas__img {
      height: 100%;
      width: 100%;
      padding: 3%; }
    .cardRecetas .boxRecetas .boxRecetas__title {
      color: #5F7052;
      font-size: 2em;
      font-family: Hallelujah;
      margin: 4%; }
    .cardRecetas .boxRecetas .boxRecetas__text {
      font-size: 1em;
      font-family: Poppins;
      color: #5F7052;
      margin: 4%; }
    .cardRecetas .boxRecetas .boxRecetas__boton {
      color: cornflowerblue; }

.boxRecetas:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 0px 5% cadetblue; }

/* Media querys */
@media screen and (max-width: 320px) {
  .boxRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; } }

@media screen and (max-width: 480px) {
  .cardRecetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 5%; }
    .cardRecetas .boxRecetas {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 21px;
      border: 1px solid #353333;
      box-shadow: 0 0 30px cornflowerblue; }
    .cardRecetas .boxRecetas__title {
      font-size: 1.2em;
      margin: 0; } }

/* CONTACTO */
.budines {
  color: cornflowerblue;
  text-align: center;
  font-size: 3.2em;
  height: 10px;
  padding: 30px; }

/* FORMULARIO */
