/* Footer */

.footer {


    background-image: url(../IMG/hojitas.png);

    color: map-get($colors, text);

    margin-top: 8em;

    height: 100%;

    width: 100%;

    gap: 1em;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    font-size: $text-Base;

    font-family: $font-Principal;


    .footer__nav {

        display: flex;

        flex-direction: row;

        justify-content: space-around;

        margin: 16%;

        margin-top: 5px;



        & .menuFooter {

            list-style: none;

            font-size: $text-Base;

            margin-right: 25px;
        }




        & .footer__item {

            text-decoration: none;

            color: map-get($colors, ul);

            font-size: $text-Small;

            margin-top: 8px;
        }



        & .footer__link {

            text-decoration: none;

            color: map-get($colors, ul);

            font-size: $text-Small;


        }

        & .footer__link:hover {

            color: map-get($colors, secondary);


        }
    }

    .info {

        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 30%;





        & .footer__info {

            margin-right: 60px;





        }

        & .redes {



            margin-right: 50px;


        }
    }

    .iconos {

        gap: 2em;
    
        height: 25px;
        width: 25px;
    }
    

    .finFooter {
        align-items: center;
    }
}



/* Media query */

@media screen and (max-width: 480px) {

    .footer {


        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: $text-Small;
        margin-top: 30px;

        & .footer__nav {

            display: flex;

            flex-direction: row;

            justify-content: center;

            margin: 50px;



        }


        & .menuFooter {

            display: flex;

            flex-direction: column;

            justify-content: center;

            margin: 80px;

            margin-top: 15px;



        } }

        .info {


            flex-direction: row;
            justify-content: center;
            margin-top: 85px;
            margin-right: 65px;


            & .redes {



                margin-right: 50px;
    
    
            } }

    .iconos {

        height: 20px;
        width: 20px;

    
    }

}



