
/* Menu nav */

.divHeader {

    height: 80px;

    width: 100%;

    display: flex;

    flex-direction: row;

    justify-content: flex-end;

    .navHeader {

    display: flex;

    justify-content: space-between; 

    max-width: 992px; }

    .navBoton {

        color: map-get($colors, secondary );
        background: none;
        border: none;
        font-size: $text-Medium;
        padding: 0 5px;
        line-height: 60px;
        display: none;


    } }

    .MENU {

    display: flex;

    padding: 2rem;

    list-style: none; 


    & .menu__item {

    font-size: $text-Base;
    margin: 0 10px; }
 
    & .menu__link {

        text-decoration: none;
        color: map-get($colors, ul);
        transition: all .3s linear;
}

    & .menu__link:hover {

        border-bottom: 1px solid violet;


    }

}
 

/* Banners */

.Banner {

    position: relative ; 

   
    & .Banner__img {

    width: 100%;


    margin-top: 40px; }

  & .Banner__Inicio {

    position: absolute;
    top: 25px;
    left: 30%;
    margin-top: 15%;
    font-family: $font-Title;
    color: map-get($colors, base );
    font-size: $text-Large;


    } } 





/* Media Query */

@media screen and (max-width: 480px) {

    .divHeader { 

        height: 50px;

        width: 100%;
        

    .navHeader {   

        flex-direction: column;

        padding: 20px;

        margin: 5px;

        gap: 1.5rem;

         }

         .navBoton {

            display: block;
        
        
          
        }
    

        .MENU {

            row-gap: 3rem;

            padding: 0%;

            
         /*   left: 0;

            top: 20px;

            width: 100%;

            padding: 20px 0; */

        


        & .menu__item {

        font-size: $text-Small;
        margin: 0 7px;
        gap: 2%; 


        }


} } 

.Banner {

    .Banner__img {

        margin-top: 70px;
    }

.Banner__Inicio {


    left: 5%;

    margin-top: 8%;

    font-size: $text-Banner;

} } }

@media screen and (max-width: 768px) {

    .Banner {

    .Banner__Inicio {

        top: 12px;
        left: 16%;
        margin-top: 9%;
        font-size: $text-Medium;
    }
} }



    
 
    