/* ESTILOS BLOG */

/* TITULO Y PARRAFO */

.budines {

    color: map-get($colors, primary);

    text-align: center;

    font-size: $text-Medium;

    height: 10px;

    padding: 30px;
}

.budines2 {

    color: map-get($colors, secondary);

    text-align: center;

    font-size: $text-Medium;

    height: 10px;

    padding: 30px;


}

#parrafoNosotros {

    font-size: $text-title;

    font-family: $font-Principal;

    text-align: justify;

    padding: 5%;



}



@media screen and (max-width: 480px) {


    #parrafoNosotros {

        font-size: 1.5em;

    }


}