
/* ESTILOS BLOG */

/* TITULO Y PARRAFO */

.budines {

    color: map-get($colors, primary);

    text-align: center;

    font-size: $text-Medium;

    height: 10px;

    padding: 30px;
}

.budines2 {

    color: map-get($colors, secondary);

    text-align: center;

    font-size: $text-Medium;

    height: 10px;

    padding: 30px;


}



#parrafoProp {
    
    font-size: $text-Base;

    font-family: $font-Principal;

    text-align: justify;

    padding: 5%;

} 

/* CARDS BLOG */



.cardBlog {

    

.col-md-4 {

    

.card2 {
    

    transition: all 0.3s linear;


} 
 

    & .card-title {

        color: map-get($colors, secondary);


    }

   & .card-text { 

        font-family: $font-Principal;
        font-size: $text-Small;
        color: map-get($colors, ul);
        

 } } } 


.card2:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;


} 