

/* Main */

.container

.textosInicio {


    .proposito {

        color: map-get($colors, primary);

        text-align: center;
    
        font-size: $text-Medium;
    
        height: 10px;
    
        padding: 30px; }

        #parrafoProp {
    
            font-size: $text-Base;

            font-family: $font-Principal;
        
            text-align: justify;
        
            padding: 5%;
        
        } 
    
     .parrafo2 {
    
        display: flex;
    
        flex-direction: row;
    
        font-size: $text-Base;
    
        padding: 25px;
    
        align-items: baseline;
    
        justify-content: space-between;
    
        gap: 3rem; }
    
    
    
} 

/* Enlace directo-budines */

.row { 

    display: flex;

    flex-direction: row;

    gap: 25px;
    margin-top: 25px;

    

    .box { 
        height: 25%;

        border: solid 2px grey;
    
        width: 20%;

        transition: all 0.3s linear;

        &__img {

        gap: 2em;

    margin-top: 2%;

    width: 100%; }

    &:hover {

        transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;


    }

  


    }
}

/* Media Query */

@media screen and (max-width: 480px) {

        .parrafo2 {
        
            flex-direction: column;
        
            justify-content: center;
        
            align-items: center;
        
        
        
        } } 

.row {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


& .box {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    

} } 










