

/* Card recetas dulces */

.card {

    @include flex (row, center, center, 4rem) ;

    flex-wrap: wrap;

   /* display: flex;

    flex-direction: row;

    gap: 4rem;

    justify-content: center; */

    margin: 0.1em;

    padding-left: 1em;

    margin-top: 10%;

    height: 100%;

    font-size: 1.5em ; 

    .divBox {

        @include flex (column, center, center, 1rem) ;

       /* display: flex;
    
        flex-direction: column;
    
        gap: 1rem; */
    
        font-size: $text-Small;
    
        width: 25%; }

        .boxReceta {


        &__info {

        display: flex;

        gap: 10px;
    
        flex-direction: column;
    
        padding: 25px; }

        &__img {

        gap: 8rem; }
    
    &__subtitle {

    font-family: $font-Principal;

    color: map-get($colors, secondary);

    &--budines {
        
        @extend .boxReceta__subtitle;
        border: solid 1px purple;
    }

    }

    &__link {

    color: map-get($colors, secondary );

    text-decoration: none;

    font-size: $text-Small;


    }

    &__item {

    text-decoration: none;
    font-size: $text-Small;
    color: map-get($colors, text);
    }

    } } 

    .imgBox {

        transition: all 0.3s linear;
    
    
    }
    
    .imgBox:hover {
    
        transform: scale(1.1, 1.1);
        box-shadow: 0px 0px 10px cadetblue;
    }

    .boxReceta__item {

        transition: all 0.3s linear;
    }

    .boxReceta__item:hover {

        color: map-get($colors, secondary);
    }

    

    /* RECETAS */

@media screen and (max-width: 480px) {

.card {

    height: 50%;

    font-size: 1em ; 

    .divBox {

        flex-direction: column;

        justify-content: center;
    
        width: 100%; }

        .boxReceta {


        &__info {

        display: flex;

        flex-direction: column;

        gap: 10px;
    
       padding: 15px; }

        &__img {

        gap: 8rem;
    
    width: 300px; 

} } } 

} 