
/* TITULO */

.budines {

    color: map-get($colors, primary);

    text-align: center;

    font-size: $text-Medium;

    height: 10px;

    padding: 30px;
}

/* Card recetas dulces */

.card {

    @include flex (row, space-between,center, 4rem);

    margin: 0.1em;

    padding-left: 1em;

    margin-top: 10%;

    height: 100%;

    font-size: 1.5em;

    .divBox {

        @include flex (row, space-between,center, 1rem);

        flex-basis: 30%;

        flex-grow: 1;

        flex-shrink: 1; 

        font-size: $text-Small;

        width: 25%;
    }

    .boxReceta {


        &__info {

            display: flex;

            gap: 10px;

            flex-direction: row;

            padding: 25px;
        }

        &__img {

            gap: 8rem;
        }

        &__subtitle {

            font-family: $font-Principal;

            color: map-get($colors, secondary);

            &--budines {

                @extend .boxReceta__subtitle;
                border: solid 1px purple;
            }

        }

        &__link {

            color: map-get($colors, secondary);

            text-decoration: none;

            font-size: $text-Small;


        }

        &__item {

            text-decoration: none;
            font-size: $text-Small;
            color: map-get($colors, text);
        }

    }
}

.imgBox {

    transition: all 0.3s linear;


}

.imgBox:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 10px cadetblue;
}

.boxReceta__item {

    transition: all 0.3s linear;
}

.boxReceta__item:hover {

    color: map-get($colors, secondary);
}



/* RECETAS */

@media screen and (max-width: 480px) {

    .card {

        @include flex (column, center,center, 4rem);

        font-size: 1em;

        .divBox {

            flex-direction: column;

            justify-content: center;

            align-items: center;

            width: 100%; } 

            .boxReceta {


                &__info {

                    display: flex;

                    flex-direction: column;

                    gap: 10px;

                    padding: 15px;
                }

                &__img {

                    gap: 8rem;

                    width: 300px;

                }
            } } }
        

    