/* TITULO */


.budines {

    color: map-get($colors, primary);

    text-align: center;

    font-size: $text-Medium;


}

.ingredientes {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-top: 5%;
}

#parrafoProp {

    font-size: $text-title;

    font-family: $font-Principal;

    text-align: justify;


}

/*Carrousel*/

.carousel-inner {

    width: 100%;
    height: 100%; 

.carousel-item { img {

    width: 50rem;
} } }



/* Card budines */

.cardBudines {

    @include flex (row, space-between, center, 8rem); 
   
    margin-top: 8%;
    font-size: 1.5em;
    

    & .divBudines {

       @include flex (column, center, center, 6rem); 

        
        row-gap: 4rem;
    }

    & .boxBudines {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        box-shadow: 0 0 5px map-get($colors, secondary);
        transition: all 0.3s linear;

        & .boxBudines__img {

            width: 100%;
            height: 100%;
           
        }

        & .boxBudines__title {

            color: map-get($colors, secondary);
            text-align: center;
            font-size: 2em;
            font-family: $font-Secondary;
        }

        & .boxBudines__subtitle {

            color: map-get($colors, primary);
            font-size: 1.5em;
            font-family: $font-Title;
            text-align: center;
        }

        & .boxBudines__text {

            font-size: 1.5em;
            text-align: justify;
            font-family: $font-Title;
            margin: 2rem 2rem 2rem 2rem;
        }


    }
}

.boxBudines:hover {

    transform: scale(1.1, 1.1);
    box-shadow: 0px 0px 2px cadetblue;
}


/* MEDIA QUERY */

@media screen and (max-width: 480px) {

    #parrafoProp {
        font-size: 2em;
        margin: 5px;
        text-align: center;
    }

    .ingredientes {

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .carousel-inner {

        width: 100%;
        height: 100%; 
    
    .carousel-item { img {
    
        width: 30rem;
    } } }


    .cardBudines {

        @include flex (column, center, center, 2rem);
     
         font-size: $text-Small;
         margin: 5rem 1rem 0 1rem;

         
      } 
}


 


   