
/* TITULO */

.container 

.recetasSaladas {

        color: map-get($colors, primary);

        text-align: center;
    
        font-size: $text-Medium;
    
        height: 10px;
    
        padding: 30px; 
}

#parrafoReceta {
    
    font-size: $text-Base;

    font-family: $font-Principal;

    text-align: center;

    padding: 5%; 

}


/* Card recetas saladas */

.card {

    display: flex;

    flex-direction: column;

    gap: 4rem;

    justify-content: center;

    border: none;

    margin: 0.1em;

    padding-left: 1em;

    margin-top: 1%;

    height: 100%;

    font-size: 1.5em ; 

    .divBox {

        display: flex;
    
        flex-direction: column;
    
        gap: 1rem;
    
        font-size: 1em;
    
        width: 25%; }

        .boxReceta {


        &__info {

        display: flex;

        gap: 10px;
    
        flex-direction: column;
    
        padding: 25px; }

        &__img {

        gap: 8rem; }
    
    &__subtitle {

        font-family: Arial, Helvetica, sans-serif;

    color: map-get($colors, secondary );


    }

    &__link {

        color: map-get($colors, secondary );

    text-decoration: none;

    font-size: 1em;


    }

    &__item {

        text-decoration: none;
    font-size: 1em;
    color: map-get($colors, text);

   


    }

    } } 

    .imgBox {

        transition: all 0.3s linear;
    
    
    }
    
    .imgBox:hover {
    
        transform: scale(1.1, 1.1);
        box-shadow: 0px 0px 10px cadetblue;
    }

    .boxReceta__item {

        transition: all 0.3s linear;
    }

    .boxReceta__item:hover {

        color: map-get($colors, secondary );
    }

    


/* RECETAS */

@media screen and (max-width: 480px) {

 

 .divBox {

    flex-direction: column;

    justify-content: center;

    width: 100%;

} }

