
/* TITULO Y TEXTO */

.container 

.recetasSaladas {

        color: map-get($colors, primary);

        text-align: center;
    
        font-size: $text-Medium;
  
}

#parrafoReceta {
    
    font-size: $text-Base;

    font-family: $font-Principal;

    text-align: center;

    
}


/* Card recetas */

.cardRecetas {

    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    gap: 2rem;
    margin-top: 5%;
    


.boxRecetas {

    display: flex;
    flex-direction: column;
    justify-content: center ;
    height: 100%;
    width: 40%;
    border-radius: 21px;
    border: 1px solid map-get($colors, ul);
    box-shadow: 0 0 30px map-get($colors, primary) ;
    transition: all 0.3s linear;
   

    & .boxRecetas__img {

        height: 100% ;
        width: 100%;
        padding: 3%;
        
        }

    & .boxRecetas__title {

      color: map-get($colors, secondary);
      font-size: $text-title;
      font-family: $font-Secondary;
      margin: 4%;


    }

    & .boxRecetas__text {

        font-size: $text-Small;
        font-family: $font-Principal ;
        color: map-get($colors, secondary);
        margin: 4%;
         }

    & .boxRecetas__boton {

        color:map-get($colors, primary) ;
    } 
    } }

    .boxRecetas:hover {

        transform: scale(1.1, 1.1);
        box-shadow: 0px 0px 5% cadetblue;
    }

/* Media querys */

@media screen and (max-width: 320px) {

    .boxRecetas {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       } } 

@media screen and (max-width: 480px) {

    .cardRecetas {

        display: flex;
        flex-direction: column ;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 5%;
    
    
    .boxRecetas {
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 21px;
        border: 1px solid map-get($colors, ul);
        box-shadow: 0 0 30px map-get($colors, primary) ;
   } 

   & .boxRecetas__title {

    font-size: $text-Base;
    margin: 0;


   } } } 

