
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}


img {

    width: 100%;
}


html {

    font-size: 62.5%;
}

body {

    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

}

main {

   
   max-width: 1200px; }


/* Estilos h2 */

.h2,
h2,
h2,
h2 {

    color: cornflowerblue;

    text-align: center;

    font-size: 2em;

    display: block 2px;

    font-family: $font-Principal;

    
    margin-top: 10px;

}


/* Estilos h1 */

.h1,
h1 {
    color: map-get($colors, primary);

    font-size: 1.5em;
    
    font-family: $font-Principal;
}

/* ESTILOS h4 */

h4 {

    color: purple;
}


/*Estilos h5*/

.h5,
h5 {

    color: map-get($colors, ul) ;
    font-size: 2.2em;
    font-family: $font-Title;
}

/* Estilos parrafos */

p {
    font-size: $text-Base;

    font-family: $font-Title;

    color: map-get($colors, text);

  


}

/* Estilos UL */

ul {
    color: map-get($colors, ul);

    font-family: $font-Title;

    list-style: none;

    


}

a {

    text-decoration: none;
}