
/* colores */

$colors: (

primary: cornflowerblue,

secondary: purple,

text: darkslategrey,

ul: rgb(53, 51, 51),

base: white );

@each $color, $value in $colors {

    .#{color} {color: #{$value} ;
    
}
    
}

/* Font family */

$font-Title: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;

$font-Principal: Arial, Helvetica, sans-serif ;

/* Font sizes */

$text-Large: 5em ;
$text-Medium: 3.2em ;
$text-Banner: 2.2em ;
$text-Base: 1.5em ;
$text-Small: 1em ;



