

/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Poppins:ital,wght@1,300;1,400&display=swap');


/* colores */

$colors: (

primary: cornflowerblue,

secondary: purple,

text: darkslategrey,

ul: rgb(53, 51, 51),

base: white ) ;

@each $color, $value in $colors {

    .#{color} {color: #{$value} ;
    
}
    
}

/* Font family */

$font-Title: Poppins ;
$font-Principal: Poppins ;
$font-Secondary: Hallelujah ;



/* Font sizes */

$text-Large: 5em ;
$text-Medium: 3.2em ;
$text-Banner: 2.2em ;
$text-Base: 1.5em ;
$text-Small: 1em ;





